@import '../../../assets/styles/main.scss';
$dropdown-item-padding : 1rem;
$width-size : 1.5rem;
.dropdown{
    position: relative;
    user-select: none;
    &-header{
        display: flex;
        align-items: center;
        width: -webkit-fill-available;
        justify-content: space-between;
        position: relative;
        border: $bottom-border-solid #dfdfdf;
        line-height: $bottom-border;
        &-title{
            font-weight: 300;
        }
    }
    &-list{
        position: absolute;
        z-index: 10;
        padding: $zero-margin;
        margin: $zero-margin;
        &-item{
            display: inline-block;
            overflow: hidden;
            width: $full-width;
            padding: $gen-pad-margin $dropdown-item-padding;
            font-size:$width-size;
            text-overflow: ellipsis;            
        }
    }
}
.dropdowniconfit{
    width:$width-size;
}
