@import "../../../assets/styles/main.scss";
$home-card-padding: 1rem;
$card-min-height : 10vh;
.main__card{
        &_subcontainer{
            box-shadow: $home-card-container-shadow;
            display: flex;
            justify-content: space-between;
            padding: $padding-one;
            min-height: $card-min-height ;
        }
}
.imagefithome{
    max-height: $max-height;
    max-width: 16rem;
    aspect-ratio: 3/2;
    object-fit: contain;
    @media screen and(max-width:$breakpoint-tablet){
        max-width: $product-column-width-nonmobile;
    }
    @media screen and(max-width:$breakpoint-mobile){
        max-width:$product-column-width-mobile;
        aspect-ratio: $flex-grow-one;
    }
}
.picturefithome{
    align-self: center;
}
.card-text-section{
    flex-grow: $flex-grow-one;
}