@import "../../../assets/styles/main.scss";
$home-card-padding: 1rem;
$card-min-height : 10vh;
.main__card{
        &_subcontainer{
            max-width: $width-content-container;
            box-shadow: $home-card-container-shadow;
            display: flex;
            justify-content: space-between;
            margin: $zero-margin-auto;
            padding: $home-card-padding;
            min-height: $card-min-height ;
            &__text{
                flex-grow: 1;
            }
            
        }
}
.imagefithome{
    max-height: 10rem;
    max-width: 15rem;
    aspect-ratio: 3/2;
    object-fit: contain;
    @media screen and(max-width:$breakpoint-tablet){
        max-width: 12rem;
    }
    @media screen and(max-width:$breakpoint-mobile){
        max-width: 10rem;
        aspect-ratio: 1;
    }
}
.card-text-section{
    flex-grow: 1;
}