@import "../../../assets/styles/main.scss";
.scroll-button{
    display: none;
    position: fixed;
    bottom: 4rem;
    // right: 3rem;
    z-index: 99;
    font-size: 1.5rem;
    border: none;
    outline: none;    
    padding: $padding-one !important;
}