@import "../../../assets/styles/main.scss";
$header-margin-tb: 0.4rem;
.header{
    width: 100%;    
    box-shadow: $header-container-shadow;
    align-content: center;
    margin-top: 0px;

    &__subheader{
        display: flex;
        max-width: $width-content-container;
        justify-content: space-between;
        margin: $zero-margin-auto;
        @media screen and (min-width:$breakpoint-tablet){
            margin-top: $header-margin-tb;
        }
    }
    .header__nav-home-item{
        display: none;
        @media screen and (min-width:$breakpoint-mobile){
            flex: 1;
            align-self: flex-end;
            padding-left: 5rem;
            padding-bottom: 1rem;
            display: unset;
        }
        a{
            padding-left: 1rem;
        }
    }
    .header__nav-login-item{
        align-self: center;
        padding-left: 3rem;
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &_subheader{
            @media screen and (max-width:$breakpoint-mobile){
                display: none;
            }
            a{
                padding-left: 1rem;
            }
        }
        &_cart{            
            display: flex;
            align-items: center;
            height: 3rem;
            padding: 0.5rem;
            background-color: $category-background-color;
            &-item_count{
                align-self: center;
            }
        }
    }
}
.mainlogofit{
    max-height: 5rem;
    max-width: 10rem;
    padding: 0.4rem 0.4rem 0 0.4rem;    
    object-fit: contain;
    @media screen and (max-width:$breakpoint-tablet){
        max-height: 4rem;
        max-width: 10rem;
        padding-left: 0;
    }
    @media screen and (max-width:$breakpoint-mobile){
        max-height: 3.5rem;
        max-width: 7rem;
        
    }
}
.cart-image{
    width: 2.5rem;
}


