@import "../../../assets/styles/main.scss";
$padding-nav : 6rem;
$padding-nav-tab : 2rem;
$padding-login : 4rem;
.header{
    width: $full-width;    
    box-shadow: $header-container-shadow-mobile;
    align-content: center;
    margin-top: $zero-margin;
    font-weight: 500;
    @media screen and(min-width:$breakpoint-mobile){
        box-shadow: $header-container-shadow;
    }

    &__subheader{
        display: flex;
        max-width: $width-content-container;
        justify-content: space-between;
        margin: $zero-margin-auto;
    }
    .header__nav-home-item{
        display: none;
        @media screen and (min-width:$breakpoint-mobile){
            flex: $flex-grow-one;
            align-self: flex-end;
            padding-left: $padding-nav-tab;
            padding-bottom: $padding-one;
            display: unset;
        }
        @media screen and (min-width:$breakpoint-tablet){
            flex: $flex-grow-one;
            align-self: flex-end;
            padding-left: $padding-nav;
            padding-bottom: $padding-one;
            display: unset;
        }
        a{
            padding-left: $padding-one;
        }
    }
    .header__nav-login-item{
        align-self: center;
        padding-left: $padding-login;
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &_subheader{
            align-self: flex-end;
            @media screen and (max-width:$breakpoint-mobile){
                display: none;
            }
            a{
                padding-left: $padding-one;
            }
        }
        &_cart{            
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            color: unset;
            height: 3.5rem;
            width: 7rem;
            padding: $gen-pad-margin;
            background-color: $category-background-color;
            @media screen and (min-width:$breakpoint-mobile){
                margin-top: 0.6rem;
            }
            &-item_count{
                align-self: center;
            }
        }
    }
}
.mainlogofit{
    max-height: 3.5rem;
    max-width: 6rem;
    padding: $padding-main-logo $padding-main-logo $zero-margin $padding-main-logo;    
    object-fit: contain;
    @media screen and (min-width:$breakpoint-mobile){
        max-height: 4rem;
        max-width: $max-height;
        padding-left: $zero-margin;
    }
    @media screen and (min-width:$breakpoint-tablet){
        max-height: 4.5rem;
        max-width: $max-height;  
    }
}
.cart-image{
    width: 2rem;
}


