@import "../../../assets/styles/main.scss";
.footer-main{
    background-color: $category-background-color;
    font-size: $font-medium;
    // height: 1.5rem;
    &_subcontainer{
        max-width: 74rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: $zero-margin-auto;
        padding-left: 1rem;
        padding-right: 1rem;
        &__text{
            flex-grow: 1;
        }
        
    }
}
.imagefitlogin{
    // display: none;
    // @media screen and (min-width:$breakpoint-tablet) {
        height: 2.3rem;
        object-fit: contain;
        display: unset;
    // }

}