@import "../../../assets/styles/main.scss";
.footer-main{
    background-color: $category-background-color;
    font-size: 0.67rem;
    @media screen and (min-width:$breakpoint-mobile) {
        font-size: $font-large;
    }
    &_subcontainer{
        max-width:$width-content-container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: $zero-margin-auto;
        padding-left: $padding-one;
        padding-right: $padding-one;
        &__text{
            flex-grow: $flex-grow-one;
        }  
        &-image_button{
            background-color: unset;
            padding: unset;
        }
    }
}
.imagefitlogin{
        height: 2.3rem;
        object-fit: contain;
        display: unset;

}