@import "../../../assets/styles/main.scss";
.primary-button{
    padding: 0.8rem;
    color: $button-text-color;
    border-style: none;
    background-color: $primary-button-background;
    border-radius: 0.2rem;
}