@import "../../../assets/styles/main.scss";
  .input {
    padding: $form-field-margin-top $zero-margin 0.6rem $zero-margin;
    font-size: $font-large;
    width: $full-width;
    border: $zero-margin;
    outline: none;
    border-bottom: $bottom-border-solid grey;
    &:focus{
      border-bottom: $bottom-border-solid $input-focus__color;
    }
    // for removing main placeholder on focus
    &::placeholder{
      color: rgba($zero-margin, $zero-margin, $zero-margin, $zero-margin);
    } 
  }

  .label {
    position: relative;
    max-height: $zero-margin;
    pointer-events: none;
    font-size: $font-medium;
    // for up placeholder properties
    &::before{
      content: attr(data-content);
      display: inline-block;
      transform-origin: left top;
      transition: transform 0.2s ease;
    }
  }
  // for moving placeholder down
  .input:placeholder-shown + .label::before {
    transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
    
  }
  // for moving placeholder up
  .label::before,
  .input:focus + .label::before {
    transform: translate3d(0, -3.12rem, 0) scale3d(0.82, 0.82, 1);
  }
  // for changing placeholder color on focus
  .input:focus + .label::before {
    color: $input-focus__color;
  }
  .text-error{
    color:red;
    text-align: start;
  }