@import "../../../assets/styles/main.scss";
$--color__accent: #6200ee;
  .floating__input {
    padding: $form-field-margin-top 0rem 0.6rem 0;
    font-size: 1rem;
    width: 100%;
    border: 0;
    outline: none;
    border-bottom: 0.1rem solid grey;
    &:focus{
      border-bottom: 0.1rem solid $--color__accent;
    }
    // for removing main placeholder on focus
    &::placeholder{
      color: rgba(0, 0, 0, 0);
    } 
  }

  .floating__label {
    position: relative;
    max-height: 0;
    pointer-events: none;
    font-size: $font-medium;
    // for up placeholder properties
    &::before{
      content: attr(data-content);
      display: inline-block;
      transform-origin: left top;
      transition: transform 0.2s ease;
    }
  }
  // for moving placeholder down
  .floating__input:placeholder-shown + .floating__label::before {
    transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
    
  }
  // for moving placeholder up
  .floating__label::before,
  .floating__input:focus + .floating__label::before {
    transform: translate3d(0, -3.12rem, 0) scale3d(0.82, 0.82, 1);
  }
  // for changing placeholder color on focus
  .floating__input:focus + .floating__label::before {
    color: $--color__accent;
  }