$background-color: #cab7b7;
$text-color: #fff;
body {
//  background: $background-color;
 color: $text-color;
 letter-spacing: 1px;
}
.header{
    // background: red;
    
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 1px solid green;
}