$default-black-color: rgba(0, 0, 0, 0.815);
$primary-button-background: #d0295b;
$button-text-color: #ffff;
$input-focus__color: hsl(236, 87%, 51%);

$home-card-container-shadow :0px 30px 20px -33px #a19f9f;
$header-container-shadow :0px 2px 10px 0px rgb(0 0 0 / 15%);
$header-container-shadow-mobile :0px 2px 10px 0px rgb(0 0 0 / 15%);
$bottom-border : 0.1rem;
$bottom-border-solid : 0.1rem solid;
$full-width:100%;

$product-card-width-tablet: 15vh;
$width-content-container:64rem;
$category-background-color: #ededed;
$background-primary :  hsl(0, 0%, 100%);
$common-background-03: rgba(0, 0, 0, 0.3);

$font-vsmall: 0.7rem;
$font-small: 0.8rem;
$font-medium: 0.9rem;
$font-large: 1rem;
$font-vlarge: 1.1rem;

// Viewport breakpoints
$breakpoint-mobile: 481px;
$breakpoint-tablet: 769px;
$breakpoint-desktop: 1025px;

$gen-pad-margin:0.5rem;
$zero-margin-auto: 0 auto;
$zero-margin: 0;
$flex-grow-one: 1;
$padding-one: 1rem;
$max-height: 11rem; 
$padding-main-logo: 0.4rem;
$form-field-margin-top:1.4rem;
$product-column-width-mobile : 8rem;
$product-column-width-nonmobile : 12rem;

body {
font-size:$font-medium ;
margin: $zero-margin;
background-color: $background-primary;
font: 100%  "-apple-system",system-ui,"BlinkMacSystemFont","Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif;
scroll-behavior: smooth;
&::-webkit-scrollbar{
    width: 0.5rem;
    &-track{
        background-color: inherit;
        cursor: pointer;
    }
    &-thumb{
        background:rgb(66, 66, 71);
        border-radius: 10px;
        border: $bottom-border $default-black-color;
    }
    &-thumb:hover{
        background:  rgb(52, 52, 54) !important;
    }
}
}
.clickable{
    cursor: pointer;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: $default-black-color;
}
button{
    border-radius: 1px;
    cursor: pointer;
}
.desc-text{
    font-size: $font-small;
    font-weight: 400;
}
.selected{
    font-weight: bold;
}
.margin-tb-zero{
    margin-top: 0;
    margin-bottom: 0;
}
.hide-overflow{
    overflow: hidden;
}
.main-body-layout{
    max-width: $width-content-container;
    margin: $zero-margin-auto;
}
ul,li { list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0; 
}
