@import "../../../assets/styles/main.scss";
$automatic-size: 1fr;
.products{
    @media screen and (min-width:$breakpoint-mobile) {
        display: flex;
        max-width: $width-content-container;
        margin: $zero-margin-auto ;
    }
    @media screen and (max-width:$breakpoint-mobile) {
        display: block;
    }
    &_list{
        flex: $flex-grow-one;
        display: grid;
        grid-gap: $padding-one;
        padding: $padding-one;
        grid-template-columns: $automatic-size;
        grid-template-rows: repeat(auto-fill, minmax($product-column-width-mobile, $automatic-size));
        @media screen and (min-width:$breakpoint-mobile) {
            grid-template-columns: repeat(auto-fill, minmax($product-column-width-nonmobile, $automatic-size));
            grid-template-rows: unset;
        }
    }
    
}
