@import "../../../assets/styles/main.scss";
.products{
    @media screen and (min-width:$breakpoint-mobile) {
        display: flex;
        max-width: $width-content-container;
        margin: $zero-margin-auto ;
    }
    @media screen and (max-width:$breakpoint-mobile) {
        display: block;
    }
    &_categories{
        background-color: $category-background-color;
        min-width: 14rem;
        @media screen and (max-width:$breakpoint-mobile){
            display: none;
        }
        section{
            border-bottom: 1px solid;
            padding: 0.5rem;
            margin-left: 1px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h3{
                font-weight: unset;
                font-size: 1rem;
            }
        }
    
    }
    &_categories_dropdown{
        @media screen and (min-width:$breakpoint-mobile){
            display: none;
        }
    }
    &_list{
        flex: 1;
            display: grid;
            grid-gap: 1rem;
            padding: 1rem;
            grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
         @media screen and (max-width:$breakpoint-tablet) {
            display: grid;
            grid-gap: 1rem;
            padding: 1rem;
            grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
         }
         @media screen and (max-width:$breakpoint-mobile) {
            display: grid;
            grid-gap: 1rem;
            padding: 1rem;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(auto-fill, minmax(8rem, 1fr));
         }
    }
    
}

